BOT_TOKEN = "Ваш токен для бота, полученный от @BotFather"
RAPID_API_KEY = "Ваш ключ полученный от API https://api.kinopoisk.dev"
HOST_API = 'https://api.kinopoisk.dev/v1.4/movie/search?page=1&limit='